* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Graphik-Medium;
  src: url("/assets/fonts/Graphik-Medium.otf"),
    url("/assets/fonts/AcrosstheRoad.woff"),
    url("./assets/fonts/Graphik-Medium.ttf");
}

html {
}
body {
  margin: 0;
  line-height: 1.5;
  overflow-y: auto;
  position: unset;
  font-family: "Graphik-Medium", Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #333;
}

a {
  text-decoration: underline;
  color: #000000;
}

a:hover {
  color: #000000;
}

.top {
  display: flex;
  font-family: "Graphik-Medium";
  background-color: #f8f8f9;
  width: 100%;
  justify-content: center;
  flex-direction: row;
}

.product-images-container {
  flex-basis: 33%;
  margin: 3em 0;
  cursor: url(//res.cloudinary.com/ssenseweb/image/upload/v1422559505/web/zoom-in-16x16.png),
    pointer;
}

.product-image {
  object-fit: contain;
  width: 510px;
  max-width: 40vw;
  margin-bottom: 12em;
}

.product-column {
  display: flex;
  width: 300px;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  justify-content: center;
  margin: 25em 0;
  font-size: 0.5em;
}

.product-description-container,
.purchase-container {
  flex-flow: column wrap;
  width: 300px;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 22em;
  height: max-content;
}

.product-description-container * {
  margin: 20px;
  font-size: 13px;
}

.product-description-container h5 {
  font-weight: 700;
  letter-spacing: 3px;
}
.product-description-container p {
  letter-spacing: 1px;
  font-weight: 100;
}

.product-price {
  margin-bottom: 20px;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 13px;
}

.color-selection {
  display: flex;
  border: 1px solid #000;
  height: 23px;
  margin: 20px 0;
}

.color-label {
  width: calc(100% / 3);
  height: 100%;
  padding: 2px 3px 0px 17px;
  border: 1px solid #000;
  font-size: 12px;
  letter-spacing: 1px;
  text-align: left;
}

.black,
.beige {
  cursor: pointer;
}

.black {
  color: #ffffff;
  background-color: #000;
}

.beige {
  color: #000;
  background-color: #edd7a5;
}

.active-check {
  color: #ffffff;
  margin-left: 3px;
}
.hidden-check {
  color: #ffffff;
  display: none;
}
/*clean this*/
.quantity-container,
.quantity-btn {
  display: flex;
}

.product-price,
.color-selection,
.quantity-container,
.size-container,
.cart-button {
  margin: 18px 0;
  height: 25px;
}

.quantity-container {
  align-content: stretch;
  text-align: center;
  font-size: 13px;
}

/*clean this*/
.quantity-btn {
  border: 0.5px solid #000;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.number {
  flex-grow: 2;
  flex-basis: 40%;
}

.plus,
.subtract {
  cursor: pointer;
}

.plus {
  flex-grow: 1;
  max-width: 15%;
}
.subtract {
  flex-grow: 1;
  max-width: 15%;
}

.size-container {
  overflow: hidden;
  border-bottom: 1px solid black;
}

.size-dropdown {
  width: 100%;
  height: 26px;
  font-size: 13px;
  margin: 0;
  padding: 2px 0 0 12px;
  border: 1px solid #000;
  border-radius: 0;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMCA3LjMzbDIuODI5LTIuODMgOS4xNzUgOS4zMzkgOS4xNjctOS4zMzkgMi44MjkgMi44My0xMS45OTYgMTIuMTd6Ii8+PC9zdmc+)
    no-repeat 100%;
  background-size: 10px;
  background-position: calc(100% - 16px), 50%;
  cursor: pointer;
}

.size-option {
  transition: all 0.5s ease;
  opacity: 0.9;
  font-size: 13px;
  position: relative;
  background-color: #f8f8f9;
}

.size-option:hover {
  background-color: #a7a7a7;
}

.size-chart {
  font-size: 8px;
  color: black;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.cart-button {
  width: 100%;
  background-color: #000;
  color: #ffff;
  padding: 4px 3px;
  font-size: 12px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: lowercase;
  border: 0;
}

.cycle-set {
  width: 100%;
  font-size: 12px;
  letter-spacing: 1.5px;
  text-align: center;
}

.bottom {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 14px 0;
}

.category-item {
  display: flex;
  flex-direction: column;
  margin: 0 26px;
}

.category-title {
  text-decoration: underline;
  color: #000;
  padding: 5px 0px;
}

.category-title {
  text-align: ;
}

.category-description {
  font-weight: 100;
  font-size: 10px;
  margin: 5px 0;
  letter-spacing: 1px;
}

.category-img {
  max-width: 400px;
  max-height: 400px;
}

.carousel {
  display: none;
}

.product-zoom-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 100;
  width: 100%;
  background-color: #f8f8f8;
  cursor: url(http://res.cloudinary.com/ssenseweb/image/upload/v1422559505/web/zoom-out-16x16.png),
    pointer;
}

.product-zoom-images img,
.product-zoom-images .item img {
  width: 850px;
  max-width: 100%;
}

@media all and (max-width: 1024px) {
  .top {
    flex-direction: column;
  }

  .carousel {
    display: block;
    order: 1;
  }

  .carousel-inner {
    cursor: url(//res.cloudinary.com/ssenseweb/image/upload/v1422559505/web/zoom-in-16x16.png),
      pointer;
  }

  .product-column {
    width: 100%;
    position: relative;
    margin: 10px 0;
    order: 2;
  }

  .product-images-container {
    display: none;
  }

  .carousel-indicators {
    width: 100%;
    top: 40em;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
  }

  .carousel-indicators li,
  .carousel-indicators .active {
    margin: 0px 10px;
    width: 5px;
    height: 5px;
  }

  .carousel-indicators li {
    background-color: #888787;
    border: none;
    transform: translateY(-50%);
  }

  .carousel-indicators .active {
    background-color: #333;
  }

  .carousel-inner .item .carousel-img {
    position: relative;
    margin: 0 auto 35px auto;
    max-width: 350px;
  }

  .purchase-container {
    margin: 0 0 22px 0;
  }

  .category-item {
    max-width: 80%;
  }

  .category-img {
    margin-top: 18px;
  }
}

@media all and (max-width: 414px) {
  .product-column {
    margin: 5px 0;
  }
  .category-img {
    max-width: 300px;
    max-height: 300px;
  }
}
