* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Graphik-Medium;
  src: url("/assets/fonts/Graphik-Medium.otf"),
    url("/assets/fonts/AcrosstheRoad.woff"),
    url("./assets/fonts/Graphik-Medium.ttf");
}

html {
  line-height: 1.15;
}
body {
  margin: 0;
  overflow-y: auto;
  position: unset;
  font-family: "Graphik-Medium", Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #333;
}

a {
  text-decoration: underline;
}

.top {
  display: flex;
  background-color: #f8f8f9;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  margin-top: 20px;
}

.top-product-images-container {
  border: 2px solid red;
  width: 33.33333333%;
  max-height: 522px;
  overflow-y: auto;
}

.top-product-images {
  object-fit: contain;
  width: 600px;
  max-width: 100%;
}

.product-column {
  border: 2px solid red;
  font-size: 0.5em;
  display: flex;
  width: 33.333%;
  position: sticky;
  top: 18px;
  justify-content: center;
  margin: 32em 0;
}

.product-description-container {
  flex-flow: column wrap;
  width: 300px;
  position: sticky;
  /*top: 20em;
  height: max-content;*/
}

.product-description-container * {
  margin: 20px;
  font-size: 13px;
}

.product-description-container h5 {
  font-weight: 700;
  letter-spacing: 3px;
}
.product-description-container p {
  letter-spacing: 1px;
  font-weight: 100;
}

.purchase-container {
  flex-flow: column wrap;
  line-height: 1.8em;
  width: 300px;
  position: sticky;
  height: max-content;
}

/*bottom */

.bottom {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 2;
}

.category-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-column {
  display: flex;
  flex-direction: column;
  margin: 40px 2.5vw;
}

.category-title {
  text-decoration: underline;
  color: black;
  padding: 5px 0px;
}
.category-title {
  text-align: ;
}
.category-description {
  font-weight: 100;
  font-size: 8px;
  margin: 5px 0;
  letter-spacing: 1px;
}

.category-img {
  max-width: 400px;
  max-height: 400px;
}

/*
mobile bottom
flex-direction: column;
 justify-content: center;
 vertical-align: top;
 text-align: center;*/
